@use 'sass:color';
@use '../legacy-base.scss' as base;
@use '../functions.scss' as *;

.PopupWindow {
  color: base.$color-fg;
  background-color: base.$color-bg;
  background-image: linear-gradient(
    to bottom,
    base.$color-bg-start 0%,
    base.$color-bg-end 100%
  );

  border: 1px solid color.adjust(base.$color-bg, $lightness: 7%);
}
