# Directories
changelogs
data
font-awesome
jquery
juke
**/build
**/dist
**/node_modules
**/.yarn

# File names / types
*.min.*
*.pnp.*
*.bundle.*

# Don't waste time on these lol
*.dm
*.dme
*.dmm
*.dmi
*.ogg
