/*****************************************
*
* cf means "chat format"
* cfc means "chat format color" which means only dedicated for color
*
******************************************/

// Standard colors
// color names are not really accurate due to theme base color visibility. get the feeling.
.cfc_red {
  color: hsl(0, 80.1%, 49.2%);
}
.cfc_redorange {
  color: hsl(17.1, 88.2%, 46.7%);
}
.cfc_orange {
  color: hsl(34.1, 81.9%, 47.6%);
}
.cfc_yellow {
  color: hsl(59.1, 86.8%, 47.5%);
}
.cfc_lime {
  color: hsl(85.9, 93.3%, 46.7%);
}
.cfc_green {
  color: hsl(118, 93.8%, 44.3%);
}
.cfc_cyan {
  color: hsl(167, 93.8%, 44.3%);
}
.cfc_bluesky {
  color: hsl(193.9, 93.8%, 44.3%);
}
.cfc_darkbluesky {
  color: hsl(193.4, 56.3%, 40.4%);
}
.cfc_navy {
  color: hsl(215.9, 93.8%, 44.3%);
}
.cfc_blue {
  color: hsl(241.1, 93.8%, 44.3%);
}
.cfc_indigo {
  color: hsl(258.1, 93.8%, 44.3%);
}
.cfc_purple {
  color: hsl(275.9, 91%, 47.8%);
}
.cfc_violet {
  color: hsl(293, 90.7%, 46.5%);
}
.cfc_magenta {
  color: hsl(312.9, 98.1%, 42%);
}
.cfc_redpurple {
  color: hsl(335.1, 93.8%, 44.3%);
}
