/*****************************************
*
* cf means "chat format"
* cfc means "chat format color" which means only dedicated for color
*
******************************************/

// Standard colors
// color names are not really accurate due to theme base color visibility. get the feeling.
.cfc_red {
  color: hsl(0, 86.9%, 44.9%);
}
.cfc_redorange {
  color: hsl(17.1, 91.6%, 46.7%);
}
.cfc_orange {
  color: hsl(33.9, 95.5%, 43.9%);
}
.cfc_yellow {
  color: hsl(59.1, 94.4%, 42.2%);
}
.cfc_lime {
  color: hsl(85.8, 82.9%, 39%);
}
.cfc_green {
  color: hsl(118.2, 84.1%, 39.4%);
}
.cfc_cyan {
  color: hsl(167.1, 89.2%, 39.8%);
}
.cfc_bluesky {
  color: hsl(194.2, 88.7%, 38.2%);
}
.cfc_darkbluesky {
  color: hsl(192.5, 51.4%, 34.7%);
}
.cfc_navy {
  color: hsl(216.2, 84.9%, 39%);
}
.cfc_blue {
  color: hsl(241, 90.3%, 40.6%);
}
.cfc_indigo {
  color: hsl(257.9, 85.9%, 39%);
}
.cfc_purple {
  color: hsl(276.1, 85.9%, 39%);
}
.cfc_violet {
  color: hsl(293, 84.9%, 41.6%);
}
.cfc_magenta {
  color: hsl(312.9, 89.8%, 38.6%);
}
.cfc_redpurple {
  color: hsl(335, 87.8%, 38.6%);
}
