.theme-generic:root {
  // Palette
  --generic: #484455;
  --accent: #4f56a5;
  --accent-2: #daa520;
  --border-color: #7b86ff;

  // Base
  --color-primary: var(--accent);
  --color-bg: color-mix(in srgb, var(--generic) 55%, black);

  // Components
  --button-color-default: var(--accent);
  --button-color-transparent: rgba(227, 240, 255, 0.75);
  --button-background-selected: var(--accent-2);
  --progress-bar-fill: var(--accent);
  --progress-bar-background: rgba(0, 0, 0, 0.5);
  --input-border-color: var(--border-color);

  // TitleBar
  --titlebar-background: color-mix(in srgb, var(--generic) 75%, black);

  // Layouts
  .Layout__content {
    background-image: none;
  }
}
